<html>
<head>
<link rel="stylesheet" href='/static/style.css' />
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.button {
  padding: 15px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
</style>
</head>
<body>
    <h1>MAIZE IR OK</h1>
    <a href="/hello/crack">CRACK</a>
    <a href="/hello/dichead">BWREAD</a>
    <a href="/cakes">CAKES</a>
    <a href="/hello/paul">Hi Paul</a>
    <a href="/hello/SOUCE">SOUCE</a>
    <a href="/13/on">IESLEDZ 13 PINU</a>

    <h2>Device Listing and Status</h2>
        {% for pin in pins %}
        <p>The {{ pins[pin].name }}
        {% if pins[pin].state == true %}
        is currently on (<button class="button"><a href="/{{pin}}/off">turn off</a></button>)
        {% else %}
        is currently off (<a href="/{{pin}}/on">turn on</a>)
        {% endif %}
        </p>
        {% endfor %}

        {% if message %}
    <h3>{{ message }}</h3>
        {% endif %}

</body>
</html>